<h1>{{fName}} {{lName}}</h1>

<h1>{{getFullName()}}</h1>

<h2>{{4 + 5}}</h2>

<h2>{{minValue(200 , 100)}}</h2>

<input type="" #name  (input)="handleInput($event ,name )"  (keyup.control.shift.enter)="handleEnter()">
{{val}}

<button (click)="handleIncrement()">Increment</button>
{{num}}
<button (click)="handleDecrement()">decrement</button>

<input [type]="inputType" [placeholder]="inputPlaceholder" [class]="className">
<input [type]="value">
<button (click)="handlePassword()" class="btn btn-primary">Show Password</button>

<textarea [(ngModel)]="inputModel" class="form-control"></textarea>


