<div class="container">
    <div class="alert alert-primary" *ngIf="flag ; else data">
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, accusantium!</h6>
        <button (click)="flag = !flag" class="btn btn-primary">Show Data</button>
    </div>
    


   <ng-template #data>
    <div class="w-25">
        <input type="text" class="form-control" placeholder="search ...">
    </div>
    <div class="d-flex flex-wrap">
        <div class="card w-25" *ngFor="let item of postData ; let i = index ; let firstItem = first ; let lastItem = last ;
         let e = even ; let o = odd">
         <img src="{{item.image}}">
            <div class="card-body">
                <h6 [ngClass]="{'text-danger' : firstItem , 'text-primary' : lastItem , 'alert alert-danger':e ,
            'alert alert-warning' : o} ">{{item.id}} - {{item.title}}</h6>
            </div>
        </div>
      
    </div>
   </ng-template>
</div>