<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link "  routerLink="home" routerLinkActive="text-danger" [routerLinkActiveOptions]="{'exact' : true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="text-danger">About</a>
          </li>  
        
          <li class="nav-item">
            <a class="nav-link" routerLink="features" routerLinkActive="text-danger" >Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="text-danger" >Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="posts" routerLinkActive="text-danger" >Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gallery" [queryParams]="{'name' : 'nouran' }" routerLinkActive="text-danger" >Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="articles"  >Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="parent"  >Show Parent</a>
          </li>

         
         
        </ul>
       
      </div>
    </div>
  </nav>