{{>header}}
{{>navbar}}
<section class="container my-4">
    <div class="row">
        <form method="post">
            <div class="col-6 mb-3">
                <input class="form-control" placeholder="address Type" name="addressType">
            </div>
            <div class="col-6 mb-3">
                <input class="form-control" placeholder="Address Details" name="addressDetails">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Add Address</button>
            </div>
        </form>
    </div>
</section>
{{>footer}}