{{>header}}
{{>navbar}}
<section class="container my-4">
    <div class="alert alert-danger text-center">
        <p class="mb-2">
            Invalid url segment
        </p>
        <a href="/" class="btn btn-success">Back To Home Page</a>
    </div>
</section>
{{>footer}}