{{>header}}
{{>navbar}}
<section class="container my-4">
    <h4 class="text-primary">single Users</h4>
    <table class="table table-stripped">
        <tr>
            <td colspan="2">Id: 1</td>
        </tr>
        <tr>
            <td>Name: Marwa</td>
            <td>Age: 36</td>
        </tr>
        <tr>
            <td>email: 1</td>
            <td>password: Marwa</td>
        </tr>
    </table>
    <h4>Addresses</h4>
    <table class="table table-borderd">
        <thead>
            <tr>
                <th>addr type</th>
                <th>addr Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>addr type</td>
                <td>addr Details</td>
            </tr>

        </tbody>
    </table>
</section>
{{>footer}}